:root{
    --main-color:#10cab7;
    --sac-color:#2c4755;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: "work sans", "sans serif" ;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
/* small screen */
@media  (min-width: 768px){
    .container{
        width: 750px;
    }
}
@media  (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media  (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* end global */
.special-heading{
    color: #ebeced;
    margin: 0px;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
}
.special-heading + p{
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: #797979;
}
@media (max-width: 767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin: -20px 0 0;
    }
}
/* start header */
.header{
padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon{
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    justify-content: flex-end;
}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child{
width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    right: 0px;
    background-color: #f6f6f6;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-color: transparent transparent #f6f6f6 transparent;
    border-style: solid;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links:hover ul{
    display: block;
} 
.header .links ul li a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #333;
    transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
/* end header */
/* start landing */
.landing{
    background-image: url(../img/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1{
margin: 0px;
font-weight: bold;
font-size: 50px;
color: var(--main-color);
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
/* end landing */
/* start features */
.features{
    padding: 60px 0px;
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    grid-gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color: var(--main-color);
}
.features .feat h3{
    font-weight: 800;
    margin: 30px 0px;
}
.features .feat p{
    font-size: 17px;
    line-height: 1.8;
    color: #777;
}
/* end features */
/* start Services */
.Services{
    padding-top: 60px;
    padding-bottom: 60px;
}
.Services .Services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.Services .Services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px){
    .Services .Services-content .srv{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
.Services .Services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.Services .Services-content .srv .text{
    flex: 1;
}
.Services .Services-content .srv .text h3{
    margin: 0 0 20px;
}
.Services .Services-content .srv .text p{
    color: #444;
    line-height: 1.6;
    font-weight: 300;
}
.Services .Services-content .image{
    text-align: center;
    position: relative;
}
.Services .Services-content .image::before{
    content: "";
    background-color: var(--sac-color);
    position: absolute;
    top: -50px;
    right: 0px;
    width: 100px;
    height: calc(100% + 100px) ;
    z-index: -1;
}

.Services .Services-content .image img{
    width: 260px;
}
@media (max-width: 1199px){
    .Services .Services-content .image{display: none;}
}
/* end Services */
/* start Portfolio */
.Portfolio{
padding-top: 60px;
padding-bottom: 60px;
background-color: #f6f6f6;
}
.Portfolio .Portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.Portfolio .Portfolio-content .card{
    background-color: white;
}
.Portfolio .Portfolio-content img{
    max-width: 100%;
}
.Portfolio .Portfolio-content .info{
    padding: 20px;
}
.Portfolio .Portfolio-content .info h3{
    margin: 0px;
}
.Portfolio .Portfolio-content .info p{
    color: #444;
    line-height: 1.6;
    font-weight: 300;
    margin-bottom: 0px;
}
/* end Portfolio */
/* start About  */
.about{
    padding-top: 60px;
    padding-bottom: 60px;
}
.about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:991px){
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width:991px){
    .about .about-content .image{
        margin: 0 auto 60px;
    }
    }
.about .about-content .image img{
    max-width: 100%;
}
.about .about-content .image::after{
    content: "";
    position: absolute;
    top: -40px;
    right: -150px;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
}
.about .about-content .image::before{
    content: "";
    position: absolute;
    top: -40px;
    left: -20px;
    width: 100px;
    height: calc(100% + 80px);
    background-color: #ebeced;
    z-index: -1;
}
@media (max-width:991px){
    .about .about-content .image::before,
    .about .about-content .image::after{
display: none;
    }
    }
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
margin-bottom: 50px;
font-weight: bold;
line-height: 2;
}
.about .about-content .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type{
color: #777;
line-height: 2;
}
/* end About */
.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.contact .info{
    padding-top: 60px;
    padding-bottom: 60px;

    text-align: center;
}
.contact .info .label{
    font-weight: 800;
    font-size: 35px;
    color: var(--sac-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
display: block;
font-weight: 800;
font-size: 35px;
color: var(--main-color);
text-decoration: none;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i{
    color: var(--sac-color);
    margin-left: 10px;
}
@media (max-width: 767px){
    .contact .info .label,
    .contact .info .link{
        font-size: 25px;
    }
}
footer{
    background-color: var(--sac-color);
    color: white;
    padding: 30px 10px;
    font-size: 18px;
    text-align: center;
}
footer span{
    font-weight: bold;
    color: var(--main-color);
}
